:global {
  .white {
    color: #f5f1e5;
  }

  .red {
    color: #ed1c24;
  }

  .brown {
    color: #a9a390;
  }

  .black {
    color: #4a4545;
  }

  .cyan {
    color: #36bbbc;
  }

  .orange {
    color: #faa018;
  }

  .mustard {
    color: #b5bb35;
  }

  .iris {
    color: #9b548a;
  }

  .bg-white {
    background-color: #f5f1e5;
  }

  .bg-red {
    background-color: #ed1c24;
  }

  .bg-brown {
    background-color: #a9a390;
  }

  .bg-black {
    background-color: #4a4545;
  }

  .bg-cyan {
    background-color: #36bbbc;
  }

  .bg-orange {
    background-color: #faa018;
  }

  .bg-mustard {
    background-color: #b5bb35;
  }

  .bg-iris {
    background-color: #9b548a;
  }

  // Dark Colors
  .bg-dark-brown {
    background-color: #4a4545;
  }

  .bg-dark-cyan {
    background-color: #017978;
  }

  .dark-cyan {
    color: #017978;
  }

  .bg-dark-orange {
    background-color: #b75427;
  }

  .dark-orange {
    color: #b75427;
  }

  .bg-dark-mustard {
    background-color: #767730;
  }

  .dark-mustard {
    color: #767730;
  }

  .bg-dark-iris {
    background-color: #5f1e59;
  }

  .dark-iris {
    color: #5f1e59;
  }

  .bg-good {
    border: 3px solid #fff;
    background-color: #009245;
  }

  .bg-bad {
    background-color: #ed1c24;
  }
}
